<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.openskydive.altidroid">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-feature android:name="android.hardware.sensor.barometer" android:required="true" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="${app_name_label}"
        android:backupAgent="AltidroidBackupAgent"
        android:restoreAnyVersion="true"
        android:allowBackup="true"
        android:backupInForeground="true"
        android:theme="@android:style/Theme.Material"
        android:supportsRtl="true">

        <meta-data android:name="com.google.android.backup.api_key"
                android:value="AEdPqrEAAAAIZfT_gAKY6xNygtm34Y6OiAjMZvaxDZgaEajXdA" />

        <provider android:name="org.openskydive.altidroid.skydive.AlarmProvider"
                android:authorities="${applicationId}"
                android:exported="false" />

        <provider android:name="org.openskydive.altidroid.log.LogProvider"
                android:authorities="${applicationId}.log"
                android:exported="false" />

        <service android:name="AltidroidService">
            <intent-filter>
                <action android:name="com.openskydive.altidroid.FOREGROUND" />
            </intent-filter>
        </service>

        <activity
            android:name=".AltidroidActivity"
            android:label="${app_name_label}"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Preferences"
            android:icon="@drawable/ic_launcher"
            android:label="@string/preferences" >
        </activity>

        <activity
            android:name=".ui.AlarmEdit"
            android:icon="@drawable/ic_launcher"
            android:label="@string/alarms_title" >
        </activity>

        <activity
            android:name=".ui.JumpInfoEdit"
            android:icon="@drawable/ic_launcher"
            android:label="@string/jump_info_title" >
        </activity>

        <activity
            android:name=".ui.JumpInfoActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/jump_info_title"
            android:windowSoftInputMode="adjustPan" >
        </activity>

</application>

</manifest>
